target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

### SQLite & Data ###
data/*.db
data/*.db-journal

### IDEs ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### Logs & OS ###
*.log
.DS_Store
